<div class="cabSearch">
  <form>
    <div class="text-input">
      <input type="text" id="input1" placeholder="              PLEASE ENTER YOUR JOURNEY POINT">
      <label for="input1">START POINT</label>
    </div>
    <div class="text-input2">
      <input type="text" id="input2" placeholder="              PLEASE ENTER YOUR DESTINATION">
      <label for="input2">DESTINATION</label>
    </div>
    
    <!-- <div class="departure">
      <div class="heading1">
        <label for="date">Departure Date <br><mat-icon>date_range</mat-icon></label><br>
        <input type="date" matInput id="date" style="background-color: transparent;">
      </div>
      </div>

      <div class="pickuptime">
        <div class="heading2">
          <label for="date">Pick up Time <br><mat-icon>access_time</mat-icon></label><br>
          <input type="time" matInput id="time" style="background-color: transparent;">
        </div>
        </div> -->
  <div class="button1">
    <button mat-stroked-button style="margin-left: 420px; margin-top: 110px; 
background-image: linear-gradient(to right, #9cecfb, #65c7f7, #0052d4);
    font-size: 23px; color: white; width: 230px; border-radius: 30px;height: 45px;
    ">SEARCH</button>
  </div>
  </form>
</div>
