<div class="hotelcontainer">

    <div fxFlex="40%">
        <!-- <div class="right">
            <div class="right-text">
                <h2>NIIT</h2>
                <h4>TRAVEL PORTAL</h4>
            </div>
            <div class="right-inductor"><img src="../assets/Black & White Minimalist Business Logo (2).png" alt="">
            </div> -->
        </div>
        <mat-card fxFlex="60%" [formGroup]="registerformHotel" fxLayout="column">
            <h1 style="font-size: 30px;font-weight: 700;"> HOTEL REGISTRATION FORM </h1>
            <mat-stepper orientation="horizontal" fxFlex="100">
                <mat-step fxFlexFill>
                    <ng-template matStepLabel>Basic registration</ng-template>
                    <ng-template matStepContent>
                        <mat-form-field appearance="outline">
                            <mat-label>Hotel Name</mat-label>
                            <input matInput placeholder="Hotel Name" formControlName="hotelName">
                        </mat-form-field>
                        <br>
                        <mat-form-field appearance="outline">
                            <mat-label>Hotel Category</mat-label>
                            <mat-select matNativeControl formControlName="hotelCategory">
                                <mat-option>None</mat-option>
                                <mat-option value="Family">Family</mat-option>
                                <mat-option value="5starhotel">Five Satr</mat-option>
                                <mat-option value="4starhotel">Four Star</mat-option>
                                <mat-option value="3starhotel">Three Star</mat-option>
                                <mat-option value="2starhotel">Two Star</mat-option>
                                <mat-option value="1starhotel">One Star</mat-option>
                                <mat-option value="villa">Villa</mat-option>
                                <mat-option value="cottage">Cottage</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div>


                            <div>
                                <h1>Property Rules</h1>


                                <div formArrayName="propertyRules">
                                    <div *ngFor="let rules of propertyRulesControls;let i=index">
                                        <mat-form-field class="overview">

                                            <mat-label>Property Rules</mat-label>
                                            <input type="text" matInput [formControlName]="i"
                                                placeholder="Enter Property Rule">


                                        </mat-form-field>
                                        <button mat-icon-button style="margin-left: 30px;" (click)="Removeitem(i)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                    <a mat-stroked-button color="primary" (click)="addRules()">Add Property Rule (+)</a>
                                    <br>
                                    <br>
                                </div>
                            </div>

                            <button mat-button matStepperNext>Next</button>
                        </div>
                    </ng-template>
                </mat-step>

                <mat-step fxFlexFill>
                    <ng-template matStepLabel>Amenities</ng-template>
                    <ng-template matStepContent>
                        <div fxLayout="column">
                            <!-- <mat-form-field appearance="outline">
                            <mat-label>Safety and Hygiene</mat-label>
                            <mat-select formControlName="safetyandhygiene">
                                <mat-option>None</mat-option>
                                <mat-option value="yes">Yes</mat-option>
                                <mat-option value="no">No</mat-option>
                            </mat-select>

                            </mat-form-field> -->
                            <div formGroupName="overview">
                                <mat-form-field appearance="outline">
                                    <mat-label>Hotel Overview</mat-label>
                                    <textarea matInput formControlName="description"
                                        placeholder="Hotel Description"></textarea>
                                </mat-form-field>
                            </div>


                            <!--     
            <div formGroupName="overview">
                
                <mat-form-field class="example-full-width" appearance="fill" >
                    <mat-label>Hotel Overview</mat-label>
                     <textarea rows="3" cols="4"  matInput formControlName="description"  placeholder="Hotel Description"></textarea>                   
                 </mat-form-field>
                 </div> -->


                            <div formGroupName="amenities">
                                Amenities
                                <br>
                                <br>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Safety and Hygiene</mat-label>
                                    <mat-select matNativeControl formControlName="safetyandhygiene">
                                        <mat-option>None</mat-option>
                                        <mat-option value="yes">Yes</mat-option>
                                        <mat-option value="no">No</mat-option>
                                    </mat-select>

                                </mat-form-field>
                                &nbsp;
                                &nbsp;

                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Basic Facilities</mat-label>
                                    <mat-select matNativeControl formControlName="basicfacilities">
                                        <mat-option>None</mat-option>
                                        <mat-option value="yes">Yes</mat-option>
                                        <mat-option value="no">No</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                &nbsp;
                                &nbsp;
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label> Family and Kids</mat-label>
                                    <mat-select matNativeControl formControlName="familyandkids">
                                        <mat-option>None</mat-option>
                                        <mat-option value="yes">Yes</mat-option>
                                        <mat-option value="no">No</mat-option>
                                    </mat-select>

                                </mat-form-field>
                                &nbsp;
                                &nbsp;
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label> Food and Drinks</mat-label>
                                    <mat-select matNativeControl formControlName="foodanddrinks">
                                        <mat-option>None</mat-option>
                                        <mat-option value="yes">Yes</mat-option>
                                        <mat-option value="no">No</mat-option>
                                    </mat-select>

                                </mat-form-field>

                            </div>






                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button matStepperNext>Next</button>

                        </div>
                    </ng-template>
                </mat-step>
                <mat-step fxFlexFill>
                    <ng-template matStepLabel>Address</ng-template>
                    <ng-template matStepContent>
                        <div fxLayout="column">
                            <div formGroupName="address">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label> Street Name</mat-label>
                                    <input type="text" matInput formControlName="streetname" placeholder="streetname">
                                </mat-form-field>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label> Landmark</mat-label>
                                    <input type="text" matInput formControlName="landmark" placeholder="Landmark">

                                </mat-form-field>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label> City</mat-label>
                                    <input type="text" matInput formControlName="city" placeholder="City">
                                </mat-form-field>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label> State</mat-label>
                                    <input type="text" matInput formControlName="state" placeholder="State">
                                </mat-form-field>
                            </div>
                        </div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </ng-template>
                </mat-step>
                <mat-step style="height: 9000px;">
                    <ng-template matStepLabel>Image upload</ng-template>
                    <ng-template matStepContent>

                        <div class="file-upload">

                            <div class="file-select">
                                <div class="file-select-button" id="fileName">Image</div>
                                <!-- <div class="file-select-name" id="noFile">No file chosen...</div> -->
                                <input type="file" name="SelectImage" (change)="onSelectFile($event)" id="chooseFile">
                            </div>{{imageName}}
                        </div>
                        <button mat-raised-button style="width: 100px;margin-top:10px;Background-color: #65c7f7;"
                            matStepperPrevious>Back</button>
                        <button mat-raised-button style="margin-left:350px; width:100px; background-color:#65c7f7;"
                            (click)="saveData()">Save</button>
                    </ng-template>
                </mat-step>
            </mat-stepper>
        </mat-card>
    </div>