
/* mat-card{
    background-color: rgb(238, 227, 238);
    width: 350px;
    margin-top: 20px;
    margin-left: 50px;
} */
.place{
    margin-top: 200px;
}
.example-card {
    width: 340px;
    height: 350px;
    border-radius: 20px;
  border:2px solid #65C7F7;
   overflow: hidden;
    /* display: inline-block; */
    background-color:rgb(183, 157, 183);
  }
  .example-header-image {
    /* background-image: url('src/assets/2022-10-33.png'); */
    background-size: cover;
  }
  .container{
    margin-top: 220px;
   
  }
  .image{
    
    height: 200px;
    width:250px
  }
  .text{
    position: absolute;
    top:310px;
    color:black;
    left: 100px;
    font-size: 24px;
    font-weight: 500;
  }
  .heading{
    font-size: 30px;
    font-weight: 600;
  }