<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div fxLayout="row" class="register-container">
	<div fxFlex="50%" class="hello">
		<div class="text">Welcome to NIIT Travel Portel
			<h4 style="margin-left: 15%;font-size:69%">Know more about your city</h4>
		</div>
	</div>

	<mat-card fxFlex="50%" class="register-card" fxLayout="column" fxLayoutGap="2.5%">

		<div fxLayout="row">
			<div fxFlex="36%"></div>
			<div fxflex="20%" style="font-weight: bolder; font-size:170%; margin-top:20px">Login YourSelf</div>
		</div>
		<div fxLayout="row">
			<div fxFlex="42%"></div>
			<div fxFlex="30%">
				<img src="https://cdn4.iconfinder.com/data/icons/internet-37/48/65-512.png" height="50px" width="50px">
			</div>

		</div>
		<div fxLayout="row">
			<div fxFlex="39%"></div>
			<div fxFlex="26%" class="social-container" fxLayout="row">
				<a href="#" class="social"><i class="fa fa-facebook-square fa-4x"></i></a>
				<a href="#" class="social" style="margin-left: 32px;"><i class="fab fa fa fa-envelope fa-4x"></i></a>
			</div>

		</div>

			<div  [formGroup]="loginForm" fxLayou="column">
				<div fxFlex="40%"></div>
				<div fxFlex="60%">
			<mat-radio-group  fxLayout="row" fxLayoutGap="5%" formControlName="userRole">

				<mat-radio-button value="USER" [checked]='true'>New User</mat-radio-button>
				<mat-radio-button value="SERVICEPROVIDER">Service Provider</mat-radio-button>

			</mat-radio-group>

		</div>
			<div fxLayout="column" style="margin-top: 40px;margin-left:-500px ;width:300px">

			<mat-form-field appearance="outline">
				<mat-label>Email</mat-label>
				<input matInput formControlName="email" placeholder="Enter Email">
				<mat-error *ngIf="loginForm.controls['email'].hasError('email')">Email is required
				</mat-error>
			</mat-form-field>

			<mat-form-field appearance="outline">
				<mat-label>Password</mat-label>
				<input type="password" matInput formControlName="password" placeholder="Enter Password">
				<mat-hint>Minimum length 6 and maxlength is 15</mat-hint>
				<mat-error *ngIf="loginForm.controls['password'].hasError('required')">
					Password is Required
				</mat-error>
				<mat-error *ngIf="loginForm.controls['password'].hasError('minLength')">
					Minimum length is 6
				</mat-error>
				<mat-error *ngIf="loginForm.controls['password'].hasError('maxLength')">
					Minimum length is 15
				</mat-error>
			</mat-form-field>
		</div>
		</div>
			<div fxLayout="row">
				<div fxFlex="40%"></div>

				<button fxFlex="25%" mat-raised-button color="primary" [disabled]="loginForm.invalid"
					(click)="login()">Login</button>
				</div>


		
		<div fxLayout="row">
			<div fxFlex="20% "></div>
			<div fxFlex="57%">
				Don't have an account! <a class="text2" href="register">Create New
					One</a>
			</div>

		</div>







	</mat-card>
</div>