<div>

    <mat-card class="example-form"  [formGroup]="RegisterformHotel" enctype="multipart/form-data">
        <div><h1>Hotel Registration Form</h1></div>
        <!-- <mat-stepper orientation="vertical">
            <mat-step>
              <ng-template matStepLabel>Step 1</ng-template>
              <ng-template matStepContent>
               
                <button mat-button matStepperNext>Next</button>
              </ng-template>
            </mat-step> -->
        
        <div>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Hotel Name</mat-label>
                <input  matInput placeholder="Hotel Name" class="inputs" formControlName="hotelName">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Hotel Category</mat-label>
                <mat-select matNativeControl formControlName="hotelCategory">
                    <mat-option >None</mat-option>
                    <mat-option value="1star">One Star</mat-option>
                    <mat-option value="2star">Two Star</mat-option>
                    <mat-option value="3star">Three Star</mat-option>
                    <mat-option value="Family">Family</mat-option> 
                    <mat-option value="villa">Villa</mat-option> 
                    <mat-option value="Resort">Resort</mat-option> 
                    <mat-option value="Conference">Conference</mat-option> 
                  </mat-select>
            </mat-form-field>
    
            <!-- <div>
                <h1>Property Rules</h1>
            
    
                <div formArrayName="propertyRules">
                     <div *ngFor="let rules of propertyRulesControls;let i=index">
                    <mat-form-field class="example-full-width" appearance="fill" >
                     
                       <mat-label>Property Rules</mat-label>
                        <input type="text" matInput [formControlName]="i"  placeholder="Enter Property Rule">
                        
                        
                   </mat-form-field>
                   <button mat-icon-button style="margin-left: 30px;" (click)="Removeitem(i)"><mat-icon>delete</mat-icon></button>
                </div>    
                   <a mat-stroked-button color="primary" (click)="addRules()">Add Property Rule (+)</a>
                    <br>
                    <br>
                   </div>
                   </div> -->
    
            <div formGroupName="overview">
                
                <mat-form-field class="example-full-width" appearance="fill" >
                    <mat-label>Hotel Overview</mat-label>
                     <textarea rows="3" cols="4"  matInput formControlName="description"  placeholder="Hotel Description"></textarea>                   
                 </mat-form-field>
                 </div>
    
    
                 <div formGroupName="amenities">
                    Amenities 
                    <br>
                    <br>
                    <mat-form-field class="example-full-width" appearance="fill" >
                     <mat-label>Safety and Hygiene</mat-label>
                     <mat-select matNativeControl formControlName="safetyandhygiene">
                        <mat-option >None</mat-option>
                        <mat-option value="yes">Yes</mat-option> 
                        <mat-option value="no">No</mat-option> 
                      </mat-select>
                 
                     </mat-form-field>
                     &nbsp;
                     &nbsp;
                     
                     <mat-form-field class="example-full-width" appearance="fill" >
                         <mat-label>Basic Facilities</mat-label>
                         <mat-select matNativeControl formControlName="basicfacilities">
                            <mat-option >None</mat-option>
                            <mat-option value="yes">Yes</mat-option> 
                            <mat-option value="no">No</mat-option> 
                          </mat-select>    
                         </mat-form-field>
                         &nbsp;
                         &nbsp;
                         <mat-form-field class="example-full-width" appearance="fill" >
                             <mat-label> Family and Kids</mat-label>
                             <mat-select matNativeControl formControlName="familyandkids">
                                <mat-option >None</mat-option>
                                <mat-option value="yes">Yes</mat-option> 
                                <mat-option value="no">No</mat-option> 
                              </mat-select>       
                           
                             </mat-form-field>
                             &nbsp;
                             &nbsp;
                         <mat-form-field class="example-full-width" appearance="fill" >
                             <mat-label> Food and Drinks</mat-label>
                             <mat-select matNativeControl formControlName="foodanddrinks">
                                <mat-option >None</mat-option>
                                <mat-option value="yes">Yes</mat-option> 
                                <mat-option value="no">No</mat-option> 
                              </mat-select>    
                           
                             </mat-form-field>
         
                 </div>
    
    
                 <div formGroupName="address">
                    Address
                    <br>
                    <br>
                    <mat-form-field class="example-full-width" appearance="fill" >
                        <mat-label> Street Name</mat-label>
                        <input type="text" matInput formControlName="streetname"  placeholder="streetname">       
                     
                        </mat-form-field>
                        &nbsp;
                        &nbsp;
                     
                    <mat-form-field class="example-full-width" appearance="fill" >
                        <mat-label> Landmark</mat-label>
                        <input type="text" matInput formControlName="landmark"  placeholder="Landmark">       
                     
                        </mat-form-field>
                        &nbsp;
                        &nbsp;
                    
                    <mat-form-field class="example-full-width" appearance="fill" >
                        <mat-label> City</mat-label>
                        <input type="text" matInput formControlName="city"  placeholder="City">       
                     
                        </mat-form-field>
                        &nbsp;
                        &nbsp;
                       
                        <mat-form-field class="example-full-width" appearance="fill" >
                            <mat-label> State</mat-label>
                            <input type="text" matInput formControlName="state"  placeholder="State">       
                        
                            </mat-form-field>
                        
        
                    
                </div>
    
    
            <div style="display: flex">
            
           <div class="file-upload">
      <div class="file-select">
        <div class="file-select-button" id="fileName">Image</div>
       
        <input type="file" name="SelectImage" (change)="onSelectFile($event)" id="chooseFile">
      </div>{{imageName}}
    </div>
        </div>
            <mat-divider></mat-divider>
            <br>
            <br>
         
            <button mat-raised-button type="submit" color="primary" (click)="saveHotel()">Save Hotel</button>
            <br>
            <br>
            <button mat-raised-button class="cancel-button" >Cancel</button>
        </div>
        <!-- </mat-stepper> -->
  
    </mat-card>
    </div> 




