<div class="container">
    <div class="carousel">
      <div class="carousel__face"><span></span></div>
      <div class="carousel__face"><span></span></div>
      <div class="carousel__face"><span></span></div>
      <div class="carousel__face"><span></span></div>
      <div class="carousel__face"><span></span></div>
      <div class="carousel__face"><span></span></div>
      <div class="carousel__face"><span></span></div>
      <div class="carousel__face"><span></span></div>
      <div class="carousel__face"><span></span></div>
    </div>
  </div>

    <div class="box">
        <span></span>
        <span></span>
        <span></span>
      </div>
 

  
 