
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  
  margin: 0;
  padding: 0;
  width: 100%;

  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  overflow: hidden;
  background: #fff;
  transition: 3s;

}

ul {
 margin-top: -245px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background-size: 400% 400%;
  background-image: linear-gradient(-45deg,#000428, #004e92);
  animation: 10s myGradient infinite;
  border-radius: 40px;
  box-shadow: 3px 3px 20px #e2e0e0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

@keyframes myGradient {
  0% {
    background-position: 0% 50%;
  }
  
  50%{
    background-position: 100% 50%;
  }
  
  100% {
    background-position: 0% 50%;
  }
}

/*  */



.navigation {
  
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
 
}




.hotel {
  color: #fff;
  animation: 10s myFlash linear infinite;
  text-shadow: 2px 2px 30px #fff;
  transition: 1s;
}



@keyframes myFlash {
  0% {
    opacity:1 ;
    text-shadow: transparent;
  }
  
  50% {
    opacity: .1;
  }
  
  100% {
    opacity: 1;
    text-shadow: 2px 2px 20px #fff;
  }
}





@media(max-width: 767px) {
  .flash-GIF {
    display: none;
  }
  
 
  
  .navigation {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  
  .text-content-fluid {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 65%;
    left: 50%;
  }
 
  
  
}




