


<div class="html-container">
    <div class="html-section">
      <div class="html-project">
        <div class="navigation" style="width: 800px; ">
          <nav>
            <ul class="nav-type" >
              <li ><button mat-raised-button routerLink="hotels" style="background-color: transparent;"><mat-icon style="color: white; ">local_hotel</mat-icon><br><h3 style="color: white; ">Hotels</h3> </button></li>
              <li><button mat-raised-button routerLink="cabs" style="background-color: transparent;"><mat-icon style="color: white">local_taxi</mat-icon><br><h3 style="color: white; ">Cabs</h3> </button></li>
              <li><button mat-raised-button routerLink="holidaypackage" style="background-color: transparent;"><mat-icon style="color: white;">home</mat-icon><br><h3 style="color: white; ">Holiday Packages</h3> </button></li>
              <li><button mat-raised-button routerLink="explore" style="background-color: transparent;"><mat-icon style="color: white;">terrain</mat-icon><br><h3 style="color: white; ">Explore</h3> </button></li>
              <li><button mat-raised-button routerLink="" style="background-color: transparent;"><mat-icon style="color: white;">local_library</mat-icon><br><h3 style="color: white; ">Bookings</h3> </button></li>
           </ul>
          </nav>
        </div>
      </div>
    </div>

  </div>

<router-outlet></router-outlet>




