<div fxlayout="row" class="container">
  <div fxFlex="30%">

    <mat-toolbar class="filtercontainer">Apply Filters</mat-toolbar>
    <mat-nav-list>

      <mat-card class="result">
        <mat-card-content>
          <h2 class="example-h2">Price Per Night</h2>

          <section class="example-section">
            <mat-checkbox class="example-margin" name="price1k" value="price1k" id="price1k" [(ngModel)]="checked1k"
              binary="true">
              0-1500
            </mat-checkbox><BR>
            <mat-checkbox class="example-margin" name="price2k" value="price2k" id="price2k" [(ngModel)]="checked2k"
              binary="true">
              1500-2500
            </mat-checkbox><BR>
            <mat-checkbox class="example-margin" name="price3k" value="price3k" id="price3k" [(ngModel)]="checked3k"
              binary="true">
              2500-4000
            </mat-checkbox><BR>
            <mat-checkbox class="example-margin" name="price4k" value="price4k" id="price4k" [(ngModel)]="checked4k"
              binary="true">
              4000-Above
            </mat-checkbox><BR>


          </section>
        </mat-card-content>
      </mat-card>
      <mat-card class="result">
        <mat-card-content>

          <button type="submit" class="button" (click)="applyfilter()">APPLY FILTER</button>
          <!-- <button type="submit">Reset</button> -->
          <mat-icon class="home-icon">autorenew</mat-icon>
        </mat-card-content>
      </mat-card>

</mat-nav-list>
</div>
      <div>
        <mat-card *ngFor="let room of filterrooms" fxLayoutGap="4%" class="cardcontainer">
          <div fxLayout="row">
            <app-image fxFlex="39%" [image]="room.images"></app-image>
            <div class="v2"></div>
          <div fxFlex="33%">
            <mat-card-title class="roomtype" >{{room.roomtype}}</mat-card-title>
            
              <h1 style="font-weight: 600;color:dodgerblue;margin-left: 10px;margin-top: 30px;">Number of Beds &nbsp;&nbsp;
                {{room.noOfBeds}}</h1>
              <h2 style="font-weight: 600;font-size:16px;color:dodgerblue;">Safety and Hygiene :
                <mat-icon  *ngIf="amenities.safetyandhygiene=='yes'">check_circle</mat-icon>      
                <mat-icon   *ngIf="amenities.safetyandhygiene=='no'">highlight_off</mat-icon>
              </h2>
              <h3 style="font-weight: 600;font-size:16px;color:dodgerblue; margin-left: 10px;">Basic Facilities :  
                <mat-icon style="color: green; margin-bottom:-6px ;margin-left:80px ;" *ngIf="amenities.basicfacilities=='yes'">check_circle</mat-icon>
              
              
                <mat-icon  style="color: red; margin-bottom:-6px ;margin-left:80px ;"  *ngIf="amenities.basicfacilities=='no'">highlight_off</mat-icon>
              </h3>
              
              <h3 style="font-weight: 600;font-size:16px;color:dodgerblue; margin-left: 10px;">Family and Kids : 
                <mat-icon style="color: green; margin-bottom:-6px ;margin-left:80px ;" *ngIf="amenities.familyandkids=='yes'">check_circle</mat-icon> 
                <mat-icon  style="color: red; margin-bottom:-6px ;margin-left:75px ;" *ngIf="amenities.familyandkids=='no'">highlight_off</mat-icon>
              </h3>
              
              <h3 style="font-weight: 600;font-size:16px;color:dodgerblue; margin-left: 10px;">Food and Drinks :  
                <mat-icon style="color: green; margin-bottom:-6px ;margin-left:73px ;" *ngIf="amenities.foodanddrinks=='yes'">check_circle</mat-icon> 
                <mat-icon  style="color: red; margin-bottom:-6px ;margin-left:60px ;" *ngIf="amenities.foodanddrinks=='no'">highlight_off</mat-icon>
              </h3>
              
          </div>
          <div > 
            <div fxLayout="column">
              
                 
              <span style="font-size: 30px;font-weight:500;margin-left:107px ;margin-top:150px ;color:darkgray">₹ {{room.price}}</span>
                <span
                style="margin-left: 90px;font-size: 20px;margin-top: 15px;color:darkgray; font-weight: 500;">Prices
                Per Night </span>
                
                <mat-card-actions>
                  <button class="button1" (click)="bookRoom(room)">BOOK NOW</button>
                </mat-card-actions>
            </div>
          </div>
        </div>
        </mat-card>
      
  </div>