
  <div class="html-container">
    <div class="html-section">
      <div class="html-project">
        <div class="navigation" style="width: 100%;">
          <nav>
       
            <ul class="nav-type">
              <li><h1 style="margin-left: -900px; color: black; font-weight: 600;">Niit Travel Portal</h1></li>
              <li><button mat-raised-button routerLink="/home" style="background-color: transparent;">
                <mat-icon style="color: yellow;">where_to_vote</mat-icon><br><h3>Super Offers</h3> </button></li>
              <li><button mat-raised-button  routerLink="/login" style="background-color: transparent;">
                <mat-icon style="color: yellow;">input</mat-icon><br><h3>Login</h3> </button></li>
              <li><button mat-raised-button routerLink="/home" style="background-color: transparent;">
                <mat-icon style="color: yellow;">book_online</mat-icon><br><h3>Manage Bookings</h3> </button></li>




            </ul>
          </nav>
        </div>
      </div>
    </div>

  </div>


