
  <div class="html-container">
    <div class="html-section">
      <div class="html-project">
        <div class="navigation" style="width: 100%;">
          <nav>
       
            <ul class="nav-type">
            <li> <img src="../assets/kkkk.png" height="77px" style="margin-left: -1050px;" ></li> 
             
              <li><button mat-button routerLink="/home" style="background-color: transparent;">
                <mat-icon style="color: yellow;">where_to_vote</mat-icon><br><h3>Super Offers</h3> </button></li>
              <li *ngIf="!loggedIn"><button mat-button  routerLink="/login" style="background-color: transparent;">
                <mat-icon  style="color: yellow;">profile</mat-icon><br><h3>Sign In</h3> </button></li>
                <button mat-button  style="background-color: transparent;" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                      <li  *ngIf="loggedIn">
                  <mat-icon  style="color: yellow;"> person_pin</mat-icon><br><h3>{{name}}</h3></li>
                </button>
                  <mat-menu #menu="matMenu"> 
                  <button mat-menu-item *ngIf="userRole=='USER'">
                      
                      <span>View Profile</span>
                      
                    </button>
                    <button mat-menu-item *ngIf="userRole=='SERVICEPROVIDER'">
                     
                      <span>Edit Profile</span>
                    </button>
                    <button mat-menu-item *ngIf="userRole=='SERVICEPROVIDER'" >
                     
                      <span>Add Service</span>
                    </button>
                    <button mat-menu-item (click)="logoutUser()">
                     
                      <span>Sign Out</span>
                    </button>
                    
                  </mat-menu>
   




            </ul>
          </nav>
        </div>
      </div>
    </div>

  </div>


