<div>
<app-navbar></app-navbar>
<app-navbar2></app-navbar2>
</div>
<div class="container">
    <h1 class="heading">Trending Restaurants To Visit in Delhi</h1>
    <div fxLayout="row wrap" fx fxLayoutGap="1%">
    <mat-card class="example-card"  *ngFor="let restaurant of resturantArray" >
      <div class="image">  <app-image [image]="restaurant.image"></app-image ></div>
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image" ></div> -->
           <mat-card-title></mat-card-title>
          <!-- <mat-card-subtitle>{{restaurant.city}}</mat-card-subtitle> -->
        </mat-card-header>
        <!-- <img mat-card-image [src]="restaurant1.image" alt="Photo"> -->
        <!-- <app-restaurantimage [image]="restaurant.image"></app-restaurantimage> -->
        <mat-card-content   class="text" style="font-style:italic ;">
          <!-- <UL> <B><U>{{restaurant.speciality}}</U></B><br></UL> -->
            <!-- <mat-icon>where_to_vote</mat-icon> {{restaurant.howToReach}}   -->
            {{restaurant.restaurantName}}
        </mat-card-content>
      </mat-card>
    </div>
<hr>
<div >
    <h1 class="heading">Trending Places To Visit in Delhi</h1>
    <div fxLayout="row wrap" fxLayoutGap="1%">
    <mat-card class="example-card"  *ngFor="let place of placeArray|slice:0:3" >
       <div class="image"><app-image [image]="place.image"></app-image></div>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image" ></div>
           <!-- <mat-card-subtitle>{{place.place}}</mat-card-subtitle>  -->
        </mat-card-header>
        <!-- <img mat-card-image [src]="restaurant1.image" alt="Photo"> -->
        <!-- <app-restaurantimage [image]="restaurant.image"></app-restaurantimage> -->
        <mat-card-content class="text" style="font-style:italic ;">
          {{place.place}}
          <!-- <UL> <B><U>{{restaurant.speciality}}</U></B><br></UL> -->
            <!-- <mat-icon>where_to_vote</mat-icon> {{restaurant.howToReach}}   -->
    </mat-card-content>
      </mat-card> </div>
</div>
</div>
<!-- <app-information></app-information> -->
<app-footer></app-footer>





