<mat-card [formGroup]="forgot" fxLayout="column">
  <h1>Enter Your Email Id</h1>
  <mat-radio-group  fxLayout="row" fxLayoutGap="5%" formControlName="role">

    <mat-radio-button value="USER" [checked]='true'>User</mat-radio-button>
    <mat-radio-button value="SERVICEPROVIDER">Service Provider</mat-radio-button>

  </mat-radio-group>
    <mat-form-field appearance="outline">
        <mat-label>Enter Your Registered Mail</mat-label>
        <input matInput placeholder="email" formControlName="email" >
        
      </mat-form-field>
      <button mat-raised-button (click)="find()">Verify Your Email</button>
</mat-card>
