<div class="hotelSearch">
    <form [formGroup]="searchform">
      <div fxLayout="row" fxLayoutGap="3%" class="conatiner">
      <div class="text-input">
        <input type="text"  onkeyup="search()"  id="search-input"  placeholder="       CITY,PROPERTY NAME OR LOCATION" formControlName="city">
        <label for="input1">HOTELS</label>
        <div class="search-result">
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="3%" class="conatiner">
        <mat-form-field appearance="outline" >
          <mat-label style="font-size: 18px;font-weight:600">Check In</mat-label>
          <input matInput style="border-radius: 20px;font-size: 20px;font-weight: 500 ;" [matDatepicker]="dp" [formControl]="date">
          
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp></mat-datepicker>
        </mat-form-field>
      
        <mat-form-field appearance="outline"  color="primary">
          <mat-label  style="font-size: 18px;font-weight:600">Check Out</mat-label>
          <input matInput  style="border-radius: 20px;font-size: 20px;font-weight: 500" [matDatepicker]="picker1" [formControl]="date">
          
          <mat-datepicker-toggle   matSuffix [for]="picker1"></mat-datepicker-toggle>
  
          <mat-datepicker #picker1 ></mat-datepicker>
        </mat-form-field>
       
        </div>
        </div>
      </form>
      <div class="button1">
      <button mat-stroked-button style="margin-left: 420px; margin-top: 85px; 
background-image: linear-gradient(to right, #9cecfb, #65c7f7, #0052d4);
      font-size: 23px; color: white; width: 230px; border-radius: 30px; height: 45px;
      " (click)="search1()">SEARCH</button>
    </div>
   
  </div>
  <!-- <router-outlet></router-outlet> -->

