<div class="exploreSearch">
    <form>
      <div class="text-input" [formGroup]="place">
        <input type="text" id="input1" placeholder="       CITY,DESTINATION OR LOCATION" formControlName="city">
        <label for="input1">EXPLORE</label>
      </div>
      <div class="button1">
      <button mat-stroked-button style="margin-left: 420px; margin-top: 85px; 
background-image: linear-gradient(to right, #9cecfb, #65c7f7, #0052d4);
      font-size: 23px; color: white; width: 230px; border-radius: 30px; height: 45px;
      " (click)="search()">SEARCH</button>
    </div>
    </form>
  </div>


