<div class="cabcontainer">
  <div fxLayout="row">
    <div fxFlex="20%">
      <mat-toolbar class="filtercontainer">Apply Filters</mat-toolbar>
      <mat-nav-list>
        <mat-card class="result">
          <mat-card-content>
            <h2 class="example-h2">CAB TYPE</h2>
            <section class="example-section">
              <mat-checkbox type="checkbox" class="example-margin" name="SUV" value="SUV" id="SUV" [(ngModel)]="checksuv" binary="true">
                SUV
              </mat-checkbox>
              <BR>
              <mat-checkbox type="checkbox" class="example-margin" name="SEDAN" value="SEDAN" id="SEDAN" [(ngModel)]="checksedan" binary="true">
                SEDAN
              </mat-checkbox>
              <BR>
              <mat-checkbox class="example-margin" name="HATCHBACK" value="HATCHBACK" id="HATCHBACK" [(ngModel)]="checkhatchback" binary="true">
                HATCHBACK
              </mat-checkbox><BR>
            </section>
          </mat-card-content>
        </mat-card>
        <mat-card class="result">
          <mat-card-content>
            <h2 class="example-h2">FUEL TYPE</h2>

            <section class="example-section">
              <mat-checkbox class="example-margin"  name="PETROL" value="PETROL" id="PETROL" [(ngModel)]="checkpetrol" binary="true">
                PETROL
              </mat-checkbox><BR>
              <mat-checkbox class="example-margin"  name="DIESEL" value="DIESEL" id="DIESEL" [(ngModel)]="checkdiesel" binary="true">
                DIESEL
              </mat-checkbox><BR>
              <mat-checkbox class="example-margin"  name="CNG" value="CNG" id="CNG" [(ngModel)]="checkcng" binary="true">
                CNG
              </mat-checkbox><BR>
             


            </section>
          </mat-card-content>
        </mat-card>
        <mat-card class="result">
          <mat-card-content>
            <h2 class="example-h2">MODEL</h2>

            <section class="example-section">
              <mat-checkbox class="example-margin"  name="ERTIGA" value="ERTIGA" id="ERTIGA" [(ngModel)]="checkertiga" binary="true">
                ERTIGA
              </mat-checkbox><BR>
              <mat-checkbox class="example-margin"  name="XYLO" value="XYLO" id="XYLO" [(ngModel)]="checkxylo" binary="true">
                XYLO
              </mat-checkbox><BR>
              <mat-checkbox class="example-margin"  name="INDICA" value="INDICA" id="INDICA" [(ngModel)]="checkindica" binary="true">
                INDICA
              </mat-checkbox><BR>

            </section>
            <button type="submit" class="button" (click)="filter()">APPLY FILTER</button>
            <!-- <button type="submit">Reset</button> -->
            <mat-icon class="home-icon">autorenew</mat-icon>
          </mat-card-content>
        </mat-card>



        <!-- <a mat-list-item href="#">Link 1</a>
          <a mat-list-item href="#">Link 2</a>
          <a mat-lis mst-item href="#">Link 3</a> -->
      </mat-nav-list>

    </div>
    <div fxLayout="column" >
    <div class="text4">Showing Results of Cab in City {{city}}<span style="font-weight: 500;font-size:19px">  ( {{result}} Results)</span></div>
    <div fxLayout="column"  style="width: 70%;"  >
      
        <mat-card *ngFor="let cab of filtercabArray"  class="cardcontainer" fxLayoutGap="0%" >
          <img mat-card-md-image
            src="https://jsak.mmtcdn.com/cabs_cdn_dt/image/Cab_Images/sedan_new.png"
            align="left">
          <mat-card-title  class="model">{{cab.model}}</mat-card-title>
          <div class="text2"  fxLayout="row">
            <li style="list-style: none;">{{cab.cabType}}</li>
            <li style="margin-left: 20px;">AC</li>
            <li style="margin-left: 20px;">5 Seater</li>
          </div>
          <mat-card-subtitle>
            <!-- <h3 style="margin-left: 240px;"> {{cab.cabType}} </h3> -->
          </mat-card-subtitle>
          <mat-list>
           
            <div style="display: inline-flex; ">
         
              <img mat-card-xsm-image  src="https://jsak.mmtcdn.com/cabs_cdn_dt/image/location_blue.png" height="20px"
              style="margin-left: 40px;" >
              <h4 style="margin-left: 20px;" class="text">Price per Km</h4>
              <h4 style="margin-left: 85px;" class="text1" > Rs {{cab.pricePerKm}}/km</h4>
            </div>
            <br>
            <div style="display: inline-flex; ">
              <img mat-card-xsm-image src="https://jsak.mmtcdn.com/cabs_cdn_dt/image/fuel_blue.png" height="20px"
                style="margin-left: 150px;">
              <h4 style="margin-left: 20px;" class="text">Fuel Type</h4>
              <h4 style="margin-left: 112px;" class="text1">{{cab.fuelType}}</h4>
            </div>
            <br>
            <div style="display: inline-flex; ; ">
              <img mat-card-xsm-image src="https://jsak.mmtcdn.com/cabs_cdn_dt/image/cancelInfo.png" height="20px"
                style="margin-left: 150px;">
              <h4 style="margin-left: 20px;" class="text">Cancellation</h4>
              <h4 style="margin-left: 87px;" class="text1">Before 6 hour from departure </h4>
            </div>
          </mat-list>
          <mat-card-actions align="end">
            <button class="button1" (click)="pay(cab)">BOOK NOW</button>
          </mat-card-actions>
        </mat-card>
      
      
    </div>
  </div>
</div>