<div class="maindiv">
    <div>
      <img src="../assets/niit.jpg" height="250px" width="300px" style="margin-left: 50px; margin-top:80px" />
    </div>
    <div class="v1"></div>
    <div class="footlist">
      <ul>
        <li>
          <a routerLink="" routerLinkActive="router-link-active">
            ABOUT US</a
          >
        </li>
        <li>
          <a routerLink="" routerLinkActive="router-link-active"
            >CUSTOMER SUPPORT 
          </a>
        </li>
        <li>
          <a routerLink="" routerLinkActive="router-link-active">
            PACKAGES
          </a>
        </li>
        <li>
          <a routerLink="" routerLinkActive="router-link-active">
            AGENT LOGIN
          </a>
        </li>
      </ul>
    </div>
    <div class="v1"></div>
    <div>
      <p>
        NIIT <br />
        <br />
        Travel portal <br /> <br>
        StackRoute <br />
        <br />
        Bengaluru<br><br> Karnataka <br> <br>
        INDIA
      </p>
    </div>
    <div class="v1"></div>
    <div class="iconlist">
      <ul>
        <li>
          <a href="https://www.facebook.com"> <img src="../assets/facebook.png" /></a>
        </li>
        <li>
          <a href="https://www.instagram.com">
            <img src="../assets/instagram.png"
          /></a>
        </li>
        <li>
          <a href="https://twitter.com"> <img src="../assets/twitter.png" /></a>
        </li>
        <li>
          <a href="https://in.pinterest.com/">
            <img src="../assets/pinterest.png"
          /></a>
        </li>
        <li>
          <a href="https://www.youtube.com/"> <img src="../assets/youtube.png" /></a>
        </li>
      </ul>
    </div>
  </div>
