<mat-card [formGroup]="resetform" fxLayout="column">
    <h2>Reset Password</h2>
    <mat-form-field appearance="outline">
        <mat-label>Enter new  Password</mat-label>
        <input matInput placeholder="new password" formControlName="password" >
        
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirm   password</mat-label>
        <input matInput placeholder="confirm password" formControlName="cnf" >
        
      </mat-form-field>
      <button mat-raised-button (click)="reset()">Update Password</button>
</mat-card>
