 <div *ngFor="let place of placeArray">
    <mat-card style="margin:20px;margin-left:10px">
        <img  [src]="retrieveImage" height="200px" width="300px" >
        <div fxFlex="row wrap" align="left" style="margin-left:70px ;">
          <mat-card-title >{{place.place}}</mat-card-title>
          
          <mat-card-subtitle  style="font-weight: bolder;color: black;">
           <h3>{{place.city}} </h3>
          </mat-card-subtitle>
          <mat-list >
            <div style="display: inline-flex; ">
            
            
            <h4 > Rs {{place.description}}/km</h4>
          </div>
          <br>
           
         
          <div  fxLayout fxLayout.xs="column">
            
          <h2>HOW to reach</h2></div>
          
          <div style="display: inline; ; " *ngFor="let x of reach">
     
            <h4 >{{x}}</h4><br>
  
        </div>
        <h2 >Near By places</h2>
        <div style="display: inline; ; " *ngFor="let x of near">
     
            <h4 >{{x}}</h4>
  
        </div>

          </mat-list>
          <mat-card-actions align="end">
            <button style="border-radius: 150px; background-color: lightblue;">BOOK NOW</button>
          </mat-card-actions>
        </div>
        </mat-card>
        <br>
      </div>
    


         

     
            
        
        
       
      

